.header {
    padding: 30px 0 20px;
    position: sticky;
    top: -70px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 14px 35px 6px rgba(0, 0, 0, 0.02);
    &-mobile {
        display: none;
    }
    &-top {
        display: flex;
        align-items: center;
        &-links {
            display: flex;
            list-style-type: none;
            margin-bottom: 0;
            padding: 8px 0px;
            li {
                border-right: 1px solid var(--mt-default);
                text-align: center;
                padding-right: 30px;
                padding-left: 30px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }
        &-link {
            color: var(--mt-default);
            font-size: 16px;
            font-weight: 600;
            &:hover {
                color: var(--mt-dark);
            }
        }
    }
    &-right {
        &-links {
            display: flex;
            list-style-type: none;
            justify-content: flex-end;
            li {
                border-right: 1px solid var(--mt-grey);
                padding: 0 24px;
                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
                a {
                    font-weight: 600;
                    font-size: 17.8px;
                    color: var(--mt-default);
                    letter-spacing: 0.48px;
                    line-height: 25.2px;
                }
            }
        }
    }
    &-logo {
        height: 50px;
        width: 200px;
        margin-right: 16px;
        flex: 0 0 auto;
        margin-top: -11px;
        margin-left: -15px;
        svg {
            height: 50px;
            width: 200px;
        }
    }
    &-btn {
        background-color: var(--mt-default);
        color: var(--mt-white);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        width: 150px;
        cursor: pointer;
        &:hover {
            color: var(--mt-white);
        }
        span {
            margin-right: 8px;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
    .row {
        margin: 0;
        align-items: center;
        &:first-child {
            align-items: baseline;
            margin-bottom: 10px;
        }
    }
    .col-md-1 {
        padding: 0;
    }
    .col-md-2 {
        padding: 0;
    }
    .col-md-3 {
        padding: 0;
    }
    .col-md-4 {
        padding: 0;
    }
    .col-md-6 {
        padding: 0;
    }
    .col-md-8 {
        padding: 0;
    }
    .col-md-9 {
        padding: 0;
    }
    &-search {
        display: flex;
        height: 40px;
        position: relative;
        border: 1px solid #91939970;
        border-radius: 12px;
        &-input {
            width: 100%;
            height: 100%;
            border-radius: 12px 0 0 12px;
            padding-left: 75px;
            border-right: none;
            border: none;
        }
        &-btn {
            border: none;
            background-color: var(--mt-white);
            border: none;
            margin-right: 12px;
            svg {
                fill: var(--mt-dark);
            }
        }
        &-filter {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 34px;
            left: 2px;
            border-radius: 12px;
            border: unset;
            background-color: #a9a9a930;
            color: var(--mt-dark);
            font-weight: 600;
            font-size: 14px;
            padding: 0 14px;
            &:active:focus {
                box-shadow: unset;
                border: unset;
            }
        }
    }
    &-pages {
        display: flex;
        justify-content: space-evenly;
    }
    &-catalog {
        position: absolute;
        top: 148px;
        background-color: var(--mt-white);
        width: 100%;
        height: 600px;
        display: none;
        .container {
            height: 100%;
            padding-bottom: 30px;
            .row {
                height: 100%;
            }
        }
        &-wrapper {
            padding: 25px 0;
        }
        &-menu {
            border-right: 1px solid #aeaeae50;
            height: 100%;
            overflow-y: auto;
            li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 4px 0;
                    color: var(--mt-dark);
                    font-weight: 600;
                    padding-right: 16px;
                    line-height: 1.3;
                    &:after {
                        content: '\203A';
                        display: block;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
                &:hover {
                    .header-catalog-block {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
        &-block {
            position: absolute;
            top: 0;
            left: 350px;
            height: 100%;
            padding-left: 40px;
            display: none;
            overflow: auto;
            width: -webkit-fill-available;
        }
        &-list {
            width: 25%;
            margin-bottom: 16px;
            li {
                width: 100%;
                &:first-child {
                   a {
                        font-weight: 600;
                   }
                }
                a {
                    font-weight: 300;
                    &::after {
                        display: none;
                    }
                }
                &:hover {
                    .header-catalog-list-1 {
                        display: block;
                    }
                }
            }
            &-1 {
                display: none;
                position: absolute;
                top: 0;
                padding: 4px 16px;
                left: 317px;
                width: 100%;
                height: 100%;
                li {
                    a {
                        height: 35px;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        width: 75px;
        color: var(--mt-default);
        position: relative;
        &:hover {
            color: var(--mt-default);
        }
        i {
            font-size: 18px;
            fill: var(--mt-default);
        }
        &-badge {
            position: absolute;
            right: 4px;
            top: -6px;
            display: flex;
            justify-content: center;
            background-color: #e31e24;
            border-radius: 50px;
            width: 19px;
            height: 19px;
            color: var(--mt-white);
            font-size: 11px;
            padding: 2px 0;
        }
    }
    &-bottom {
        &-items {
            display: flex;
            align-items: center;
        }
    }
    &-button {
        margin-right: 16px;
    }
    &-input {
        width: 100%;
        margin-right: 12px;
    }
    .modal-body {
        display: flex;
        padding: 20px 40px;
        &-items {
            flex: 1 1 auto;
        }
        &-item {
            font-size: 14px;
            color: var(--mt-dark);
            display: flex;
            align-items: center;
            padding: 5px 0;
            margin-bottom: 10px;
            cursor: pointer;
            img {
                margin-right: 5px;
            }
            &:hover {
                background-color: #270a3e10;
            }
        }
    }
    .row {
        position: relative;
    }
    .appear {
        display: block;
    }
}