.notification {
    position: fixed;
    top: 180px;
    right: 0;
    z-index: 99;
    transition: all 0.5s;
    &-cart {
        width: 400px;
        padding: 16px 8px; 
        background-color: var(--mt-white);
        filter: drop-shadow(0 14px 16px rgba(0, 16, 61, .2));
        margin-bottom: 16px;
        margin-right: 16px;
        transition: all 0.5s;
        animation: slide 1s;
        position: relative;
        i {
            cursor: pointer;
            color: var(--mt-default);
        }
        &-header {
            padding-bottom: 16px;
            border-bottom: 1px solid #aeaeae50;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 4px;
        }
        &-body {
            display: flex;
            align-items: center;
            padding: 8px 0;
        }
        &-img {
            width: 100px;
            height: 100px;
            margin-right: 8px;
            flex: 0 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-text {
            font-size: 14px;
        }
        &-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 276px;
            margin-bottom: 10px;
        }
        &-price {
            margin-bottom: 10px;
        }
        &-cart {
            padding: 6px 16px;
            background-color: var(--mt-default);
            color: var(--mt-white);
            display: block;
            width: fit-content;
            &:hover {
                color: var(--mt-white);
            }
        }
    }
    &-status {
        position: absolute;
        bottom: 0;
        animation: status linear 4000ms ;
        transition: all;
        left: 0;
        height: 5px;
        background-color: var(--mt-default);
    }
}